<configuration>

    <appender name = "FILE" class = "ch.qos.logback.core.FileAppender">
        <file>logs/staticLogs.log</file>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern> -->
            <includeMdcKeyName>METHOD</includeMdcKeyName>
            <includeMdcKeyName>URI</includeMdcKeyName>
        </encoder>
    </appender>

    <root level = "INFO">
        <appender-ref ref = "FILE"/>
    </root>

</configuration>